<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381482007479-u2aicq5kqi0sngkcui710ipqssq6pl0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381482007479-u2aicq5kqi0sngkcui710ipqssq6pl0u</string>
	<key>API_KEY</key>
	<string>AIzaSyDjBEWwZ3lgHaB16c-V7zF3Yba4Br2mStU</string>
	<key>GCM_SENDER_ID</key>
	<string>381482007479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mutu</string>
	<key>PROJECT_ID</key>
	<string>mutu-54548</string>
	<key>STORAGE_BUCKET</key>
	<string>mutu-54548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381482007479:ios:44ba4a068ed99843cbc632</string>
</dict>
</plist>